* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    line-height: normal !important;
}
  
html {
    height: 100%;
}
  
.body {
    min-height: 100vh;
    background-color: #f0f0f0;
}
  
main {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    margin-bottom: 100px;
    padding: 1rem;
}
  